.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 1.8rem;
   color: #f5b942;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem 2rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: 500;
  color: #444;
  margin-bottom: 0.4rem;
}

.field input,
.field select {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.field input:focus,
.field select:focus {
  border-color: #f5b942; /* dourado suave */
  box-shadow: 0 0 0 2px rgba(245, 185, 66, 0.2);
}


.btn {
  display: flex;
  gap: 1rem;
}
.btnSave,.btnFechar {
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: #f5b942;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
  opacity: 0.9;
}
.btnFechar {
  background-color: #3d3d3b;
}
.btnSave:hover,.btnFechar:hover {
 opacity: 1;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .btn {
    width: 100%;
  }
}
