/* CONTAINER */
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(6, 6, 6));
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
}

/* NAV */
.navCancel {
  width: 100%;
  height: 15rem;
  background: linear-gradient(rgba(17, 17, 17, 0.55), rgba(10, 10, 10, 1)),
    url(../assets/IMG/orcamentoLaPizza.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navCancel h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
  font-style: italic;
  color: rgb(146, 117, 60);
  text-align: center;
}

/* MESSAGE */
.message {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #d8d8d8;
  width: 80%;
}

/* BUTTON */
.backBtn {
  margin-top: 2.5rem;
  display: inline-block;
  text-decoration: none;
background: linear-gradient(135deg, #ff9100, #ff6a00);
  padding: 12px 26px;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s ease;
  font-size: 1.05rem;
    box-shadow: 0 4px 10px rgba(255, 120, 20, 0.3);
}

.backBtn:hover {
  background: linear-gradient(135deg, #ffa733, #ff7b1c);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(255, 120, 20, 0.45);
}

/* ------------------------------ */
/* RESPONSIVIDADE */
/* ------------------------------ */
@media (max-width: 1024px) {
  .navCancel h1 {
    font-size: 2.5rem;
  }
}
/* Tablets */

@media (max-width: 768px) {
  .navCancel {
    height: 13rem;
  }

  .navCancel h1 {
    font-size: 2rem;
  }

  .message {
    width: 85%;
    font-size: 1.05rem;
  }

  .backBtn {
    padding: 10px 20px;
    font-size: 0.95rem;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .navCancel {
    height: 12rem;
  }

  .navCancel h1 {
    font-size: 1.7rem;
  }

  .message {
    font-size: 1rem;
    width: 90%;
  }

  .backBtn {
    margin-top: 2rem;
    padding: 12px 26px;
    font-size: 1rem;
  }
}
