.cartSection {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(rgba(22, 22, 22, 0.83), rgba(8, 5, 5, 0.81)),
    url(../assets/IMG/sobrePizza.png) center/cover no-repeat;
  padding: 2rem 0;
}

.titleCart {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(231, 138, 38);
  font-weight: bold;
}
.cartContent{
display: flex;
justify-content: space-around;
}

.itensList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
  margin: 0 auto;
}

.item {
   background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.item img {
  width: 30%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}
.infoItem{
  width: 60%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.infoItem h2 {
  display: flex;
flex-direction: column;
  font-size: 1rem;
  color: #fff;
  align-items: center;
  gap: 1.5rem;
}
.infoItem span {
  font-weight: bold;
  color: goldenrod;
  
}
.quantityForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.qtyInput {
  width: 50px;
  text-align: center;
  -moz-appearance: textfield; 
}

.qtyInput::-webkit-inner-spin-button,
.qtyInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.qtyBtn {
  background-color: #ffcc00;
  border: none;
  padding: 4px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.qtyBtn:hover {
  background-color: #e6b800;
}

.totalPrice {
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.animate {
  transform: scale(1.2);
  color:#e6b800; 
}

.saveButton {
  background-color:#e6b800; 
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 8px;
}

.saveButton:hover {
  background-color: #e6b800;
  transform: scale(1.05);
}

.saveButton:active {
  transform: scale(0.97);
}

.actions {
  width: 15%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
 
}
.actionBtn{
  display: flex;
  gap: 1rem;
}
.actionBtn button {
  flex: 1;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}
.actionPay{
  display: flex;
  align-items: end;
  justify-content: end;
}
.actionPay a{
  text-align: center;
  padding: 1rem 2.5rem ;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
   background-color: #e6b800;
    font-weight: bold;
}

.actions button {
  background-color: rgb(210, 6, 33);
}
.actions .editBtn{
    background-color: #e6b800;
}

.actions a:hover,
.actions button:hover {
  opacity: 0.8;
}

.valoresContent {
  width: 25%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  text-align: right;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.valoresContent h2{
    display: flex;
    justify-content: space-between;
}
.payment{
    display: flex;
    justify-content: space-between;
}
.bandeiras{
  display: flex;
}
.bandeiras img {
  width: 2.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.valoresContent button{
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #e6b800;
    font-weight: bold;
    cursor: pointer;
}