/* =====================
   SEÇÃO CONTATO
===================== */




/* =====================
   FOOTER PRINCIPAL
===================== */
.footer {
  background: linear-gradient(rgba(22,22,22,0.9), rgba(17,17,18,1)),
              url("../IMG/pizza3.jpg") center/cover no-repeat;
  
}
.footerContent{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin:  0 auto;
  padding: 2rem 0;
}

.footer h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #facc15; 
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin: 0.7rem 0;
  display: flex;
  gap: 1rem;
}
.footer i {
  color: #dad9d6;
}
.footer a {
  color: #cac4c4;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #facc15;
}
.bandeiras{
  display: flex;
}
.bandeiras img {
  width: 2.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* =====================
   COPYRIGHT
===================== */
.copy {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  padding: 1rem 0;
  color: #aaa;

}
