
.navBar{
  width: 100%;
  height: 8vh;
  background-color: rgb(30, 29, 29);
position: sticky;
 z-index: 999;
}

.content {
    display: flex;
   justify-content: space-around;
    align-items: center;
     height: 100%;
     margin: 0 190px;
}
.title  {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 3px;
  color: white;
  font-family:cursive ;
}
.title img {
 width: 31px;
 height: 25px;
 
}

.navItens{
  display: flex;
  gap: 26px;
  text-transform: uppercase;
  list-style-type: none;
}

.navItens a{
  text-decoration: none;
  color: white;

}
.navItens li {
  font-size: 17px;
  position: relative;
  padding: 0.4rem 0;
  
}
.logoImg:hover{
  border-bottom: none;
}
.navItens li:before{
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 3px solid  rgb(183, 143, 63);
  position: absolute; 
  transition: all 1s ease;
}
.navItens li:hover:before{
  width: 100%;
  background-color: transparent;
}
.navItens img:hover:before{
  border-bottom: none;
  background-color: transparent;
}