.navIdentificacao {
  width: 100%;
  height: 15rem;
  background: linear-gradient(rgba(243, 242, 242, 0), rgba(241, 240, 240, 0.375)), url('../assets/IMG/orcamentoLaPizza.jpg');
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navIdentificacao h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
  font-style: italic;
  color: rgb(146, 117, 60);
  text-align: center;
}
.checkout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem 2rem;
 background: linear-gradient( rgba(241, 240, 240, 0.37), rgb(240, 239, 239));
  min-height: 100vh;
}

.formSection {
  flex: 1;
  max-width: 700px;
  background: #fff;
  border-radius: 16px;
  padding: 2.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.formSection p {
  font-size: 1.4rem;
  font-weight: 600;

    color: #f5b942;;
}

@media (max-width: 1024px) {
  .checkout {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .formSection {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .checkout {
    padding: 1.5rem 1rem;
  }

  .formSection {
    padding: 1.5rem;
    border-radius: 12px;
  }
}
