.PoliticaSection{
        background: linear-gradient(rgba(17, 17, 17, 0.814),rgb(20, 20, 20));
}
.navPoliticaPrivacidade{
  width: 100%;
 height: 15rem;
  background: linear-gradient(rgba(17, 17, 17, 0.412),rgba(20,20,20,1)), url(../assets/IMG/orcamentoLaPizza.jpg);;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navPoliticaPrivacidade h1{
  margin-bottom: 1rem;
 font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
   font-style:italic;
  color: rgb(146, 117, 60);
}