.PoliticaSection{
      background: linear-gradient(rgba(22, 22, 22, 0.831),rgba(8, 5, 5, 0.814)), url(../assets/IMG/PoliticaLaPizza.png);
      background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
   backdrop-filter: blur(2px);
}