.PoliticaSection{
        background: linear-gradient(rgba(17, 17, 17, 0.814),rgb(20, 20, 20));
}
.navPoliticaPrivacidade{
  width: 100%;
 height: 15rem;
  background: linear-gradient(rgba(17, 17, 17, 0.412),rgba(20,20,20,1)), url(../assets/IMG/orcamentoLaPizza.jpg);;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navPoliticaPrivacidade h1{
 font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
   font-style:italic;
  color: rgb(146, 117, 60);
}

  .navPoliticaPrivacidade p{
    width: 59%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
   color: rgb(210, 205, 205);
  }.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1100px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #fff;
}

.text {
  margin-top: 0.5rem;
  color: #d1d5db; /* cinza claro */
  font-size: 0.95rem;
  line-height: 1.6;
}

.list {
  list-style: disc inside;
  margin-top: 0.5rem;
  color: #e5e7eb;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* =======================
   RESPONSIVIDADE
======================= */

@media (min-width: 640px) {
  .title {
    font-size: 1.75rem;
  }

  .text,
  .list {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .text,
  .list {
    font-size: 1.1rem;
  }
}
