
 .sobre{

  width: 100%;
  height: auto;
  background-color: rgb(87, 83, 83);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(22, 22, 22, 0.831),rgba(8, 5, 5, 0.814)), url(../assets/IMG/sobrePizza.png);
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.titleSobre{
  text-align: center;
  padding-bottom: 1.9rem;
  color: orange;
  font-weight: bold;
  font-size: 2.3rem;
  text-shadow: 21px black;
}
.sobreContent{
  display: flex;
  width: 85%;
  margin:0 auto;
  
  gap: 3rem;
  }
.sobreInfo{
  width: 50%;
  
}
.sobreInfo p{
width: 90%;
 font-size: 1.3rem;
 color: wheat;
 font-weight: bold;
 letter-spacing: 1px;
}
.sobreValores{
  width: 100%;
}
.sobreValores h2{
  font-size: 1.6rem;
  font-weight: bold;
  color: antiquewhite;
}

.sobreValores p{
  width: 100%;
  color: rgb(140, 139, 137);
}

.sobreValores li{
    width: 100%;
  line-height: 2rem;
    color: rgb(140, 139, 137);
}
.sobreValores li strong{
  font-size: 1.2rem;
}
.pizzaSobre {
  width: 50%;
  display: flex;
  align-items: center;
}
.pizzaSobre img{
  width: 100%;
  height: 60%;
  border-radius: 1rem;
}