.termosSection{
     background: linear-gradient(rgba(22, 22, 22, 0.831),rgba(8, 5, 5, 0.814));
      background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
   backdrop-filter: blur(2px);
}

.termosContent{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
   
}

.navTermos{
  width: 100%;
 height: 15rem;
  background: linear-gradient(rgba(17, 17, 17, 0.412),rgba(20,20,20,1)),url(../assets/IMG/orcamentoLaPizza.jpg);
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navTermos h1{
 font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
   font-style:italic;
  color: rgb(146, 117, 60);
}
 .navTermos p{
    width: 59%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
   color: rgb(210, 205, 205);
  }
.termosContent h2{
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
}
.termosContent p, li{
    
    font-size: 1rem;
    color: rgb(156, 154, 154);

}